# ===================================================
# CODEOWNERS — Stranger_things Project
# ===================================================

# Setiap baris: pola file → username GitHub reviewer
# Reviewer otomatis ditambahkan saat PR mengubah file terkait

# ================= BACKEND =================
# Penanggung jawab: Lead Backend
/backend/    @AhmadDaffaAlfattah

# ================= FRONTEND =================
# Penanggung jawab: Lead Frontend
/frontend/   @NazwaAmeliaZahra

# ========== DOCKER & INFRASTRUCTURE ==========
# Penanggung jawab: Lead DevOps
docker-compose.yml    @Cintya1026
/backend/Dockerfile   @Cintya1026
/frontend/Dockerfile  @Cintya1026
Makefile              @Cintya1026

# ================= DOCUMENTATION =================
# Penanggung jawab: QA & Documentation
README.md   @verinaaaa
/docs/      @verinaaaa