# Database
DATABASE_URL=postgresql://postgres:Nazwa2@localhost:5432/bye_virus

# JWT
SECRET_KEY=7330156a03d5de97b5614f5b67393278d14cc00cc9cf047a6d9d3fee91615ffa
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# CORS
ALLOWED_ORIGINS=http://localhost:5173